<br>
<div id="signUpForm">
    <div class="row">
        <div class="card-header col-md-12">
            <h1>Sign Up</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp"
                        placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <label for="username">UserName</label>
                    <input type="username" name="username" class="form-control" id="username"
                        aria-describedby="userHelp" placeholder="Enter user name">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="instagram"><i class="fab fa-instagram"></i>
                        Instagram</label>
                    <input type="instagram" name="instagram" class="form-control" id="instagram"
                        aria-describedby="instagramHelp" placeholder="Enter instagram">
                </div>
                <div class="form-group">
                    <label for="Facebook"><i class="fab fa-facebook-square"></i>
                        Facebook</label>
                    <input type="Facebook" name="Facebook" class="form-control" id="facebook"
                        placeholder="Enter facebook">
                </div>
                <button type="submit" class="btn btn-primary" id="user-sign-up">Submit</button>
            </form>
            <br>
        </div>
    </div>
</div>
<div id="loginForm">
    <div class="row">
        <div class="card-headercol-md-12">
            <h1>Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="user-login">
                <div class="form-group">
                    <label for="login-email"><i class="fas fa-envelope-open-text"></i>
                        Email address</label>

                    <input type="email" name="email" class="form-control" id="login-email" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="login-password"><i class="fas fa-unlock-alt"></i>
                        Password</label>

                    <input type="password" name="password" class="form-control" id="login-password"
                        placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <br>
    <div id="savedEventsSection">
        <h4>Saved Events</h4>
    </div>
    <div class="col-1"><button type="button" id="hide" class="btn btn-outline-success">Hide Saved Events</button>
    </div>
    <br>
    <div id="saved-event-card-container"></div>
</div>
</div>
<h4>Embark on your next Grand Adventure ... get started by searching for events!</h4>
<h5>Sign up and save events to your profile page.</h5>
<div class="container">
    <div id="line1" style="border-bottom: 2px solid grey;"></div>
    <br>
    <form>
        <div class="container" style="margin-left:5.5%; margin-bottom:5px;">
            <div class="row">
                <br>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="datepicker" placeholder="Select Date">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="location" placeholder="Enter Location by City">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <select class="custom-select">
                            <option selected>Categories</option>
                            <option class="categories" value="105">Arts</option>
                            <option class="categories" value="118">Auto, Boat, Air</option>
                            <option class="categories" value="101">Business</option>
                            <option class="categories" value="111">Charity and Causes</option>
                            <option class="categories" value="113">Community</option>
                            <option class="categories" value="115">Family and Education</option>
                            <option class="categories" value="106">Fashion</option>
                            <option class="categories" value="104">Film and Media</option>
                            <option class="categories" value="110">Food and Drink</option>
                            <option class="categories" value="112">Government</option>
                            <option class="categories" value="107">Health</option>
                            <option class="categories" value="119">Hobbies</option>
                            <option class="categories" value="116">Holiday</option>
                            <option class="categories" value="117">Home and Lifestyle</option>
                            <option class="categories" value="103">Music</option>
                            <option class="categories" value="120">School Activities</option>
                            <option class="categories" value="102">Science and Tech</option>
                            <option class="categories" value="114">Spirituality</option>
                            <option class="categories" value="108">Sports and Fitness</option>
                            <option class="categories" value="109">Travel and Outdoor</option>
                            <option class="categories" value="199">Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-1"><button type="button" id="search" class="btn btn-outline-success">Search</button>
                </div>
            </div>
    </form>
</div>
<div id="line2" style="border-bottom: 2px solid grey;"></div>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<br>
<div id="event-card-container"></div>