.list-group-item {
  line-height: 2.5;
}
.navbar {
  border-bottom-color:whitesmoke;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}
.navbar-brand {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-color: whitesmoke;

}
