.list-group-item {
  line-height: 2.5;
}
.navbar {
  border-bottom-color:whitesmoke;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}
.navbar-brand {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.carousel-inner .carousel-item{
  width:100%;
  max-height: 500px !important;
  margin: auto;
}


